@import '../abstracts/variables';

.tooltip {
  all: unset;

  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%) translateY(6px);

  width: 180px;
  padding: 0.6rem;

  background: rgba(192, 191, 191, 0.95);
  color: $color-text;

  border-radius: 8px;

  font-family: $font-primary; 
  line-height: 1.4;

    .tooltip strong,
    .tooltip p {
    font-size: $font-xs;
    }

  text-align: center;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease, transform 0.2s ease;

  z-index: 100;
}

.tooltip-container {
  position: relative;
}

/* 👇 CLAVE */
.tooltip-container:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.tooltip__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 1rem;
}

.tooltip__skills span {
  font-size: calc(#{$font-xs} * 0.8); // 👈 clave
  padding: 2px 6px;

  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  background: rgba(0, 0, 0, 0.05);
  color: inherit;

  white-space: nowrap;
}