<h1>Portfolio</h1>
<!-- <p>Current mode: {{ mode }}</p>
<p>Base mode: {{ base }}</p> -->
<div class="wip-container">
  <span class="material-symbols-outlined wip-icon">
    engineering
  </span>
  <p class="wip-text">
    Building something awesome 🚧<br>
    My projects are currently in the works.<br>
    Stay tuned!
  </p>
</div>
<hr>

<!-- <app-architecture *ngIf="isVisible('architecture')"></app-architecture>

<app-software *ngIf="isVisible('software')"></app-software>

<app-ux-projects *ngIf="isVisible('ux-projects')"></app-ux-projects> -->