.about {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.about__image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

/* 📱 móvil */
@media (max-width: 768px) {
  .about__image {
    width: 160px;
    height: 160px;
  }
}