<nav class="navbar">
  
  <!-- Logo -->
    <div class="navbar__logo">
        <a class="navbar__logo"
            [routerLink]="homeLink"
            (click)="closeMenu()">

            <img src="assets/icons/icon.png" alt="Logo" />
            <span>Siria Franco</span>

        </a>
    </div>

<!-- 🔥 Hamburger -->
  <div class="navbar__toggle" (click)="toggleMenu()">
    ☰
  </div>

  <!-- 🔥 Menu -->
  <div class="navbar__menu" [class.open]="isMenuOpen">

    <!-- ===================== -->
    <!-- 📁 PORTFOLIO -->
    <!-- ===================== -->
    <div class="navbar__section">

      <a [routerLink]="portfolioLink"
         (click)="closeMenu()">
        Portfolio
      </a>

      <!-- 🔥 Submenu SOLO en modo home -->
      <div class="navbar__sub" *ngIf="shouldShowSubmenu()">
        <a *ngFor="let type of portfolioTypes"
          [routerLink]="['/', currentMode, 'portfolio', type]"
          (click)="closeMenu()">
          {{ type }}
        </a>
      </div>

    </div>

    <!-- ===================== -->
    <!-- 📄 RESUME -->
    <!-- ===================== -->
    <div class="navbar__section">

      <a [routerLink]="resumeLink"
         (click)="closeMenu()">
        Resume
      </a>

    </div>

  </div>

</nav>